<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IWSThinRDPbinding">
          <security mode="Transport" />
        </binding>
        <binding name="IWSThinRDPbinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ServerNameOrIp:8444/soap/IWSThinRDP"
          binding="basicHttpBinding" bindingConfiguration="IWSThinRDPbinding"
          contract="Thinfinity.WebApi.IWSThinRDP" name="IWSThinRDPPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="TrustAnyCert" value="True"/>
  </appSettings>
</configuration>